// penyimpanan color
$colorWhite: #fff;
$colorRed: rgb(255, 0, 0);
$colorBlue: rgb(72, 0, 255);
$colorAqua: rgb(0, 255, 242);
$colorNavy: rgb(11, 114, 113);


@media screen and (max-width: 768px) {
.text2{
  display: none;
}

.text1 {
  text-align: center;
}
.text3 {
  text-align: center;

}
.media {
  display: none;
}

}


body {
  background-color: rgb(255, 255, 255);
}
// color rgba
$g-blue: linear-gradient(90deg, rgba(30, 0, 36, 1) 0%, rgba(25, 255, 245, 1) 0%, rgba(17, 0, 255, 1) 100%);

:root {
  --gradient1: linear-gradient(90deg, rgba(30, 0, 36, 1) 0%, rgba(25, 255, 245, 1) 0%, rgba(17, 0, 255, 1) 100%);
  --gradient2: linear-gradient(90deg, rgba(30, 0, 36, 1) 0%, rgba(25, 184, 255, 1) 0%, rgba(0, 255, 196, 1) 100%);
  --gradient3: linear-gradient(90deg, rgb(30, 69, 5) 0%, rgb(25, 255, 79) 0%, rgb(72, 255, 0) 100%);
}
.font1 {     
  font-family: "font1";
  background: var(--gradient1);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}
.text2 {
  font-size: 36px;
}
.ari-footer {
  background: var(--gradient1);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 10px;
}
.active {
  background-color: rgb(7, 130, 238);
  border-radius: 5px;
  display: flex;
  color: #fff;
  width: 15vh;
  height: 6vh;
  align-items: center;
  justify-content: center;
}
.active:hover {
  background-color: #fff;
  color: black;
}
.jasa {
  background: linear-gradient(90deg, rgba(254, 0, 255, 1) 0%, rgba(0, 11, 255, 1) 100%);
}
.text-teman {
  color: rgb(239, 4, 220);
}
.coding-jasa {
  background: linear-gradient(90deg, rgba(0, 11, 255, 1) 0%, rgba(0, 161, 255, 1) 97%);
}
.color-co {
  color: #ff009d;
}
.Animasi1 {
  animation-name: object1;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

@keyframes object1 {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 200px;
    top: 0;
  }
  50% {
    right: 200px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.image {
  width: 100px;
}
.card2 {
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  color: white;
}


.font-family {
  font-family:  'Ubuntu';
}
.n-font {
  font-family: 'Roboto-Regular';
}
.text1 {
  color: rgb(0, 98, 255);
// background: var(--gradient1);
// -webkit-background-clip: text;
// -webkit-text-fill-color: transparent;
}
.text-card1 {
  font-family: 'Roboto-Regular';
}
.text-ahli {
  font-family: 'Roboto-Regular';
}
.button-card {
  background: var(--gradient1);

}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-card1 {
  background: var(--gradient3);

}
